.product-swiper-main {
  --swiper-navigation-size: 25px;
}

.product-swiper-thumbs .swiper-slide {
  opacity: 0.4;
  cursor: pointer;
  height: 50px; /* Ensure thumbnails have a consistent height */
}

.product-swiper-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}
